header {
    height: 15%;
    max-height: 200px;
    background-color:darkslategray;
    color: #efefef;
    background-image: 
    margin:0 0;
    padding: 20px;
    text-align: center;
  
}
body{

    font: 'Montserrat','Roboto';
}
 nav {
     background-color: #efefef;
        color: #1d3d23;
        padding: 15px;
        margin: 5px;	
        border-radius: 3px;
        display: block;
    }


h2,
h3 {
  font: 'Montserrat', 'Roboto';
    color:rgb(96, 64, 100);

}

.intro{
  border-width: 2px;
  border-style: groove;
  margin: 10px;
  padding: 15px 10px 10px 10px;
  background-color: #1d5343;
  color: #efefef;

}
img {
    max-width: 40%;
    max-height: 40%;
    border-radius: 50% 0;
    
}

ul {
    color: darkslategrey;
    

}
@keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
h3 {
    font: 'Varela Round', sans-serif;
    font-size: 1rem;
    animation: 3s 1 alternate slidein;
    text-align: center;

}
a {
    text-decoration: none;
    color: darkolivegreen;
}
  
.column{
    display: inline-block;
      width: 33%;
    margin-right: -4px;
    text-decoration: none;
    }
   
    .column:first-child {
        margin-right: calc(4%-4px);
        margin-bottom: 0;
      }
   


@media (min-width: 30em) and (max-width: 50em) {

    .column {
        display: block;
          width: 80%;
        margin-right: -4px;
        align-content: center;
        }
}
@media (min-width: 40em) and (max-width: 50em) {


    .column {
        display: inline-block;
          width: 48%;
        margin-right: -4px;
        align-content: center;
        }
}
      



